.card {
    background-color: white;
    height: 78px;
    font-size: 82px;
    line-height: 64px;
    cursor: pointer;
    overflow: hidden;
    font-family: "Segui Symbol", sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.red {
    color: red;
}

.black {
    color: black;
}

@media (min-width: 635px) {
    .card {
        height: 128px;
        font-size: 134px;
        line-height: 108px;
    }
}


@media (min-width: 1300px) {
    .card {
        height: 158px;
        font-size: 158px;
        line-height: 124px;
    }
}