.gameInfo {
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 5px;
    height: 1%;
}

@media (min-width: 635px) {
    .gameInfo {
        font-size: 22px;
    }
}

.gameInfo * {
    margin: 5px;
}

.gameInfo__buttons {
    display: flex;
    flex-direction: column;
}

.gameInfo__buttons button {
    margin-bottom: 5px;
}

.gameInfo__stats {
}

.gameInfo__item {

}